:root {
    --bodyback: #e5e5e5;
    --headback: #ffffff;
    --footback: #2F303A;
    --textcolor: #757575;
    --headtextcolor: #212121;
    --logocolor: #2196F3;
    --buttoncolor:#2196F3;
    --buttontext:#ffffff;
    --studiocolor:#000000;
    --backforteamlist:#f5f4fa;
    --buttonhover: #188ce8;
    --buttonnohover: #f5f4fa;
    --webfoot:#ffffff;
    --buttonmenucolor:#212121;
    --border-bottom:#ECECEC;
    --iconcolor: #AFB1B8;
    --iconhover:#2196F3;
}
body{
    font-family:'Roboto',sans-serif;
    color: var(--textcolor);
}
/*General*/
a{
    text-decoration: none;
    color: var(--headtextcolor);
}
li{
    list-style-type: none;
}
h1,
h3,
p,
ul,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    width: 1200px;
    padding: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/*index Header */
.head{
    background-color: var(--headback);
    color:var(--headtextcolor);
    font-weight:500;
    font-size:14px;
    line-height:1.14;
    letter-spacing:0.02em;
    border-bottom: 1px solid var(--border-bottom);
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logocolor);
    padding-top: 24px;
    padding-bottom: 25px;
}

.studio{
    color: var(--studiocolor);
}
.menu{
    margin-left: 93px;
    
}
.head-container{
    width: 1200px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.nav-list{
    display: flex;
    align-items: center;
   
    
}
.nav-list>ul{
    display: flex;
    align-items: center;
}

.contact-list{
    display: flex;
    margin-left: auto;
}
.mail{
    display: flex;
    align-items: center;
    color: var(--textcolor);
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon{
    fill:var(--textcolor);
    width: 22px;
    height:16px;
    margin-right: 10px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,.mail:focus{
    stroke: var(--logocolor);
    stroke-width: 2px;
}
.navigation-link.current{
    color: var(--logocolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link{
    position: relative;
}
.nav-link::after{
    
    display: block;
    position: absolute;
    content: '';
    margin-top: 29px;
    height: 4px;
    width: 100%;
    background-color: var(--logocolor);
    border-radius: 2px;
}
.menu>li:not(:first-child){
    margin-left: 50px;
}
.navigation-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:focus,.navigation-link:hover{
    color: var(--logocolor);
}
.contact-list{
    margin-right: 0;
    margin-left: auto;
}
.mail:hover,.mail:focus{
    color: var(--logocolor);
}
.tel:hover,
.tel:focus {
    color: var(--logocolor);
}
.tel{
    display: flex;
    align-items: center;
    color: var(--textcolor);
    margin-left: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.tel-icon{
    fill: currentColor;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover,.tel:focus{
    fill:var(--logocolor);
    stroke: var(--logocolor);
    stroke-width: 2px;
}

/* Main */

.banner{
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/command.jpg');
    height: 600px;
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--footback);
    
    font-weight:900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--headback);
    
}
.visualy-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
 
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hero-container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.text-logo{
    margin: 0 auto;
    display: block;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
}
.hero-button{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    outline-style: none;
    border-width: 0px;
    min-width: 200px;
    cursor: pointer;
        background: var(--buttoncolor);
        color: var(--buttontext);
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.06em;
        border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--buttonhover);
    color:var(--headback);
}
.feature-section{
    padding-bottom: 0;
}
.feature-cont{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.features{
    display: flex;
    align-items: left;
    padding: 0;
    margin: 0;
    list-style: none;
}
.features>.feature-list{
    flex-basis: calc(100%/4);
}
.features>.feature-list:not(:last-child){
    margin-right:30px;
}
.feature-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--backforteamlist);
    margin-bottom: 30px;
    border-radius: 4px;
    
}
.feature-item{
    fill: currentColor;
}

.features h3{
    color:var(--headtextcolor);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features p{
    width: 270px;
    margin-top: 10px;
    color: var(--textcolor);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/*Работа*/
.work-container{
    display: block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.work-header{
    color: var(--headtextcolor);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}
.work-list{
    display: flex;
    padding: 0;
}
.work-list-items{
    display: flex;
    align-items: center;
    flex-basis: calc(100/3);
    position: relative;

}
.work-list-items:not(:last-child) {
    margin-right: 30px;
}
.description{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttontext);
    background: rgba(47, 48, 58, 0.8);
}
/*Команда*/
.command{
    background-color: var(--backforteamlist);
    padding-bottom: 94px;
}
.comm-container{
    margin-left: auto;
    margin-right: auto;
}
.command h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--headtextcolor);
    margin-bottom: 10px;
}
.command p{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing:0.03em;
    color: var(--textcolor);
    margin-bottom: 16px;
}
.comm-header{
    color: var(--headtextcolor);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    
}
.comm-list{
    display: flex;
    
}
.individ{
    text-align: center;
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--webfoot);
}
.individ:not(:last-child){
    margin-right: 30px;
}
.name-prof{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.social-links{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    
    
}
.social-item{
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: var(--buttontext);
    border-radius: 50%;
    
    
}
.social-item>a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--iconcolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

}
.social-item>a:hover,
.social-item>a:focus{
    fill: var(--buttontext);
    background-color: var(--iconhover);
    
}
.client-header{
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    color: var(--headtextcolor);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.client-list{
    display: flex;
    flex-basis: calc(100%/6);
    

    
}
.client-pozition{
    display:flex;
    
    width: 170px;
    height: 92px;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-pozition:not(:last-child){
    margin-right: 30px;
}
.client-pozition:hover{
    border-color: var(--iconhover);
}
.client-pozition:focus{
    border-color: var(--iconhover);
}
.client-pozition>a{
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--iconcolor);
    align-items: center;
    justify-content: center;
    fill: var(--iconcolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.client-pozition>a:hover,.client-pozition>a:focus{
    fill: var(--iconhover);
    border-color: var(--iconhover);
    
}
.footer{
display: flex;
background-color: var(--footback);
padding-top: 60px;
padding-bottom: 60px;
transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1),
text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.foot-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.webfoot{
    color: var(--webfoot);
}
.adress{
    list-style: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255,0.6);
    margin-top: 20px;  
}
.contacts{
    list-style: none;
}
.contacts>li:not(:last-child){
    margin-bottom: 9px;
}

.atext{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--headback);
    text-decoration: none;
    margin-bottom: 9px;
}
.link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.links-container{
    padding: 0;
    margin-left: 70px;
    margin-top: 12px;
}  
.links-container>h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttontext);
}
.links-list{
    display: flex;
    margin-top: 20px;
}
.links-item{
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.links-item>a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    fill: var(--buttontext);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.links-item:hover,.links-item:focus{
    background-color: var(--iconhover);
}
.links-item>a:hover,.links-item>a:focus{
    background-color: var(--iconhover);
    
}
.footer a:hover,
.footer a:focus{
    text-decoration: underline;
    text-decoration-color: var(--buttonhover);
}
.email-form{
    margin-left: 93px;
    margin-top: 12px;
    
}
.form{
    display: flex;
}
.email-form h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttontext);
    margin-bottom: 20px;
}
.form input{
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2787px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;

    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.submit{
    cursor: pointer;
    display: flex;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;

    align-items: center;
    background: #2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    fill: var(--webfoot);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit:hover,.submit:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--buttonhover);
    color: var(--headback);
}
.submit-text{
    margin-right: 10px;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    visibility: 0;
    opacity: 0;
    pointer-events: none;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    padding: 40px;
    max-height: 581px;
    height: 100%;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 12px;
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-label{
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    
}
.modal-inner{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    
}
.modal-inner:not(:last-child){
    margin-bottom: 10px;
}
.modal-input{
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-input:focus,
.modal-input:hover{
    border-color: var(--iconhover);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
    fill: var(--iconhover);
}

.textarea{
    height: 120px;
    resize: none;
    cursor: pointer;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.textarea:hover,
.textarea:focus{
    border-color: var(--iconhover);
}
.checkbox-label{
    display: inline;
position: relative;
    display: flex;
    margin-bottom: 30px;
   
}
.checkbox{
    display: inline;
    appearance: none;
}
.checkbox-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
        width: 16px;
        height: 15px;
    margin-right: 5px;
    margin-left: 12px;
        
}
.terms-text{
    margin-left: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--textcolor);
    text-align: center;
}
.checkbox:checked+.checkbox-icon .icon-one {
    opacity: 1
}
.checkbox:checked+.checkbox-icon .icon-two {
    opacity: 0
}
.terms{
    text-decoration: underline;
    margin-left: 1px;
    color: var(--buttoncolor);
}
.submitted{
    background: var(--buttoncolor);
    border-color: var(--buttoncolor);
    border-radius: 4px;
    padding: 10px 55px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--buttontext);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.submitted:hover,.submitted:focus{
    background: var(--buttonhover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.1);
}

.close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    transform: translate(-8%, -8%);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close-icon {
    display: flex;
    width: 11px;
    height: 11px;
    fill: black;
}

.close:hover .close-icon,
.close:focus .close-icon {
    fill: var(--buttoncolor);
}


/* Portfolio*/

.menu-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    
}
.menu-item{
    display: flex;
    margin-right: 8px;
}
.menu-item>button {
    cursor: pointer;
    background: var(--buttonnohover);
    color: var(--buttonmenucolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: var(--buttonnohover);

    padding: 6px 22px;
    border-width: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item>button:hover,
.menu-item>button:focus,
.menu-item>button.current{
    color: var(--headback);
    background-color: var(--buttonhover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.examples{
    display: flex;
    background: var(--headback);
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-right:-30px ;
    margin-top: -30px;
    
}
.item{
    
    display: inline-block;
    border: 1px solid #EEEEEE;
    flex-basis: calc(100% / 3 -30px);
    margin-right: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb{
    position: relative;
    overflow: hidden;
}
.item:nth-child(3n){
    margin-right: 0;
}
.item:hover,.item:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.item:hover .overlay{
    transform: translateY(0);
}
.item-text{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.item-text>h3{
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color: var(--headtextcolor);
}
.item-text>p{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--textcolor);

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
}